<div [ngStyle]="{ marginBottom: '500px' }">
  <h1>Simplilearn Demo</h1>
  <app-nav-bar></app-nav-bar>
  <app-parent> </app-parent>
  <hr />
  <h1>Expressions</h1>
  {{ title }}
  {{ someNumber.toFixed(2) }}
  {{ user.first_name + " " + user.last_name }}
  <div>{{ 2 + 4 }}</div>
  <div>{{ months[2] }}</div>
  <hr />
  <h1>Directives</h1>
  <h2>NgIf</h2>
  <div *ngIf="flag">Some text is showing because flag is true</div>
  <!-- never displayed -->
  <div *ngIf="1 > 2">Never Displayed</div>
  <!-- displayed if a is more than b -->
  <div *ngIf="title === 'some-project-name'">Project is some-project-name</div>
  <!-- displayed if str is the string "yes" -->
  <div *ngIf="myFunc()">Function returned true</div>
  <!-- displayed if myFunc returns truthy -->

  <h2>NgSwitch</h2>
  <h4 class="ui horizontal divider header">Current choice is {{ choice }}</h4>

  <div class="ui raised segment">
    <ul [ngSwitch]="choice">
      <li *ngSwitchCase="1">First choice</li>
      <li *ngSwitchCase="2">Second choice</li>
      <li *ngSwitchCase="3">Third choice</li>
      <li *ngSwitchCase="4">Fourth choice</li>
      <li *ngSwitchCase="2">Second choice, again</li>
      <li *ngSwitchDefault>Default choice</li>
    </ul>
  </div>

  <h2>NgStyle</h2>
  <div [ngStyle]="{ color: 'white', 'background-color': 'blue' }">
    Uses fixed white text on blue background
  </div>

  <h2>NgClass</h2>
  <div [ngClass]="{ bordered: false, red: redTextAllowed }">
    This is never bordered
  </div>
  <div [ngClass]="{ bordered: true }">This is always bordered</div>

  <h2>NgFor</h2>
  <h4 class="ui horizontal divider header">List of objects</h4>

  <table class="ui celled table">
    <thead appHighlight>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
      </tr>
    </thead>
    <tr *ngFor="let person of people">
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
      <td>{{ person.city }}</td>
    </tr>
  </table>

  <h2>NgNonBindable</h2>
  <div class="ngNonBindableDemo">
    <span class="bordered">{{ content }}</span>
    <span class="pre" ngNonBindable>
      ← This is what {{ content }} rendered
    </span>
  </div>
  <hr />
  <h2>2 way data binding</h2>
  <input [(ngModel)]="name" placeholder="Enter your name" />

  <p>Hello, {{ name }}!</p>
  <hr />
  <h2>Custom Structual Directive</h2>
  <div *appUnless="1 > 2">Unless: Some Text</div>
  <div *ngIf="1 > 2">If: Some Text</div>
  <hr />
  <h2 appHighlight>Custom Attribute Directive</h2>
  <div appHighlight>Should highlight on hover</div>
  <hr />
  <h2>Component Lifecycle Hooks (instead of Scope)</h2>
  <app-parent-lifecycle-demo></app-parent-lifecycle-demo>
  <ul>
    <li>
      ngOnChanges: This event is called when a component's input properties
      change. It allows you to react to changes in data before the view is
      updated.
    </li>

    <li>
      ngOnInit: This event is called after the first ngOnChanges and after the
      component's constructor. It is used to initialize data and perform any
      other initialization tasks.
    </li>

    <li>
      ngDoCheck: This event is called during every change detection cycle and is
      used to check for changes that Angular may not have detected.
    </li>

    <li>
      ngAfterContentInit: This event is called after the component's content has
      been initialized. It is used to perform initialization tasks that require
      access to the component's content.
    </li>

    <li>
      ngAfterContentChecked: This event is called after every check of the
      component's content. It is used to perform any additional content-related
      tasks.
    </li>

    <li>
      ngAfterViewInit: This event is called after the component's view has been
      initialized. It is used to perform initialization tasks that require
      access to the component's view.
    </li>

    <li>
      ngAfterViewChecked: This event is called after every check of the
      component's view. It is used to perform any additional view-related tasks.
    </li>

    <li>
      ngOnDestroy: This event is called when the component is about to be
      destroyed. It is used to clean up any resources that the component may
      have created.
    </li>
  </ul>

  <hr />
  <h2>Built in Pipes</h2>
  <app-pipes-demo></app-pipes-demo>
  <hr />
  <h2>Animations</h2>
  <app-animation-example></app-animation-example>
  <h4>Animated todo list</h4>
  <app-todo-list></app-todo-list>
  <hr />
  <h2>Forms</h2>
  <h3>Template Driven Form</h3>
  <app-template-driven-form></app-template-driven-form>
  <h3>Reactive Form</h3>
  <app-reactive-form></app-reactive-form>
</div>
